.brandsblock {
  margin-bottom: 150px;
}
.brandsblock__body {
  border-radius: 24px;
  padding: 15px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  position: relative;
}
.brandsblock__body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 55%;
  background: var(--brand-gradient);
}
.brandsblock__item {
  border: 2px solid var(--brand-light-hover-stroke);
  border-radius: 12px;
  padding: 20px;
  aspect-ratio: 335/200;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s;
}
.brandsblock__item img {
  max-height: 100%;
}
@media (max-width: 47.99875em) {
  .brandsblock {
    margin-bottom: 64px;
  }
  .brandsblock__body {
    border-radius: 20px;
    gap: 8px;
  }
  .brandsblock__item {
    border-radius: 5px;
    padding: 16px;
    border-width: 1px;
  }
}
@media (max-width: 34.37375em) {
  .brandsblock__body {
    grid-template-columns: repeat(2, 1fr);
  }
  .brandsblock__body::before {
    height: 36%;
  }
}
@media (max-width: 23.12375em) {
  .brandsblock__item {
    padding: 10px;
  }
}
@media (any-hover: hover) {
  .brandsblock__item:hover {
    border-color: var(--brand-color);
  }
}