.compare {
  margin-bottom: 150px;
}
.compare__title {
  margin-bottom: 36px;
}
.compare__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 8px;
}
@media (max-width: 47.99875em) {
  .compare {
    margin-bottom: 64px;
  }
}
@media (max-width: 40.62375em) {
  .compare__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .compare__items > *:nth-child(even) {
    margin-left: -1px;
  }
  .compare__items > *:not(:first-child, :nth-child(2)) {
    margin-top: -1px;
  }
}