.contacts {
  margin-bottom: 150px;
}
.contacts__title {
  margin-bottom: 36px;
}
.contacts__body {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.contacts__content {
  max-width: 383px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts__block {
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 16px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts__items {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.contacts__item {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  min-height: 48px;
  padding: 0 12px;
  word-break: break-word;
}
.contacts a.contacts__item {
  font-size: 18px;
  padding: 8px 16px 8px 12px;
  border-radius: 36px;
  transition: background 0.3s, color 0.3s;
}
.contacts__item-icon {
  flex-shrink: 0;
  width: 24px;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
}
.contacts__item-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}
.contacts__text {
  font-size: 14px;
  line-height: 130%;
  color: var(--black-70);
}
.contacts__map {
  flex: 1 1 auto;
  max-width: 979px;
  display: grid;
  overflow: hidden;
  border-radius: 16px;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 61.99875em) {
  .contacts__map {
    width: 100%;
    min-height: 500px;
  }
}
@media (max-width: 47.99875em) {
  .contacts {
    margin-bottom: 64px;
  }
  .contacts__body {
    flex-direction: column;
    gap: 36px;
  }
  .contacts__content {
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts__content > * {
    flex: 1 1 auto;
  }
}
@media (max-width: 29.99875em) {
  .contacts__block {
    padding: 24px 16px;
  }
  .contacts__item {
    padding: 0 8px;
  }
  .contacts a.contacts__item {
    padding: 8px;
  }
}
@media (any-hover: hover) {
  .contacts a.contacts__item:hover {
    background-color: var(--brand-light);
    color: var(--brand-color-hover);
  }
}