.features {
  margin-bottom: 150px;
}
.features__body {
  border-radius: 24px;
  padding: 48px 32px;
  background-image: url("../assets/img/features-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.features__title {
  text-align: center;
}
.features__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.features__item {
  border-radius: 36px;
}
.features__item {
  background-color: var(--brand-light);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.features__item {
  line-height: 120%;
  color: var(--brand-text-hover);
}
.features__item img {
  flex-shrink: 0;
  width: 36px;
}
.features__item img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .features {
    margin-bottom: 64px;
  }
  .features__items {
    gap: 8px;
  }
}
@media (max-width: 40.62375em) {
  .features__body {
    background-image: url("../assets/img/features-bg-mob.svg");
    padding: 36px 14px;
  }
}
@media (width <= 29.99875em) {
  .features__item {
    padding-top: 10px;
  }
  .features__item {
    padding-right: 12px;
  }
  .features__item {
    padding-bottom: 10px;
  }
  .features__item {
    padding-left: 12px;
  }
  .features__item {
    font-size: 14px;
  }
  .features__item img {
    width: 22px;
  }
}
@media (max-width: 24.99875em) {
  .features__items {
    flex-direction: column;
  }
}
@media (width > 29.99875em) and (width <= 90.75em) {
  .features__item {
    padding-top: clamp( 10px , 7.0372214563px  +  0.6172712496vw , 16px );
  }
  .features__item {
    padding-right: clamp( 12px , 6.0744429127px  +  1.2345424991vw , 24px );
  }
  .features__item {
    padding-bottom: clamp( 10px , 7.0372214563px  +  0.6172712496vw , 16px );
  }
  .features__item {
    padding-left: clamp( 12px , 10.0248143042px  +  0.4115141664vw , 16px );
  }
  .features__item {
    font-size: clamp( 14px , 11.0372214563px  +  0.6172712496vw , 20px );
  }
  .features__item img {
    width: clamp( 22px , 15.0868500648px  +  1.4402995823vw , 36px );
  }
}
@media (width > 90.75em) {
  .features__item {
    padding-top: 16px;
  }
  .features__item {
    padding-right: 24px;
  }
  .features__item {
    padding-bottom: 16px;
  }
  .features__item {
    padding-left: 16px;
  }
  .features__item {
    font-size: 20px;
  }
  .features__item img {
    width: 36px;
  }
}