.footer {
  padding-bottom: 48px;
}
.footer__body {
  display: flex;
  gap: 8px;
}
.footer__body > * {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  background-color: var(--white);
  flex: 1 1 auto;
}
.footer__head {
  width: 179px;
  padding: 36px 24px 24px 24px;
  background-color: var(--brand-color);
  color: var(--white-60);
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.footer__logo {
  max-width: 126px;
  width: 100%;
  transition: opacity 0.3s;
}
.footer__logo img {
  width: 100%;
  object-fit: cover;
}
.footer__dev {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 12px;
}
.footer__dev-logo {
  max-width: 123px;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.footer__dev-logo img {
  width: 100%;
  object-fit: cover;
}
.footer__head-bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.footer__social {
  display: grid;
  place-content: center;
  color: var(--white-80);
  transition: color 0.3s;
}
.footer__menu {
  width: 667px;
  padding: 24px 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.footer__menu-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__menu-link {
  max-width: fit-content;
  border-radius: 6px;
  padding: 6px 10px;
  min-height: 31px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: var(--black-70);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.footer__contacts {
  width: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.footer__contacts-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__contacts-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contacts-link {
  border-radius: 36px;
  padding: 12px;
  min-height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--brand-light);
  background-color: var(--brand-light);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  word-break: break-word;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.footer__contacts-link img {
  flex-shrink: 0;
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.footer__contacts-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__contacts-row {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding: 0 12px;
}
.footer__contacts-row img {
  flex-shrink: 0;
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.footer__info {
  width: 194px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.footer__info-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__works {
  font-size: 14px;
  line-height: 130%;
  color: var(--black-70);
}
.footer__info-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}
.footer__payments {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
@media (max-width: 90.75em) {
  .footer__menu {
    padding: 24px;
  }
}
@media (max-width: 81.24875em) {
  .footer__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 61.99875em) {
  .footer__body > * {
    border-radius: 12px;
    padding: 24px 12px;
  }
  .footer__head {
    padding: 24px 12px;
  }
  .footer__menu {
    padding: 24px 12px;
  }
}
@media (max-width: 47.99875em) {
  .footer {
    padding-bottom: 36px;
  }
}
@media (max-width: 40.62375em) {
  .footer__body {
    gap: 12px;
  }
  .footer__body > * {
    width: 100%;
  }
  .footer__head {
    width: 100%;
    padding: 24px 20px;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__logo {
    order: -1;
  }
  .footer__dev {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .footer__head-bottom {
    display: contents;
  }
  .footer__socials {
    order: -1;
  }
  .footer__copy {
    width: 100%;
  }
  .footer__menu {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .footer__menu-col {
    gap: 0;
  }
  .footer__menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 8px;
    min-height: 26px;
  }
  .footer__menu-title::after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0605 1.06055L7.06055 7.06055L1.06055 1.06055' stroke='%23F05124' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    transition: transform 0.3s;
  }
  .footer__menu-title.--spoller-active::after {
    transform: rotate(-180deg);
  }
  .footer__menu-body {
    padding-top: 15px;
  }
  .footer__contacts {
    width: 100%;
  }
  .footer__info {
    width: 100%;
    padding: 24px 20px;
  }
}
@media (any-hover: hover) {
  .footer__logo:hover {
    opacity: 0.7;
  }
  .footer__dev-logo:hover {
    opacity: 1;
  }
  .footer__social:hover {
    color: var(--white);
  }
  .footer__menu-link:hover {
    border-color: var(--brand-light-hover-stroke);
    background-color: var(--brand-light-hover);
    color: var(--brand-text-hover);
  }
  .footer__contacts-link:hover {
    border-color: var(--brand-light-hover-stroke);
    background-color: var(--brand-light-hover);
    color: var(--brand-color);
  }
}