.infoblock {
  margin-top: 34px;
  margin-bottom: 150px;
}
.infoblock--mt-o {
  margin-top: 0;
}
.infoblock__title {
  margin-bottom: 36px;
}
.infoblock__body {
  max-width: 790px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}
.infoblock__icon {
  max-width: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoblock__icon img {
  width: 100%;
  object-fit: cover;
}
.infoblock__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-80);
}
@media (max-width: 47.99875em) {
  .infoblock {
    padding-top: 14px;
    margin-bottom: 64px;
  }
  .infoblock--mt-o {
    margin-top: 0;
  }
  .infoblock__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 29.99875em) {
  .infoblock__icon {
    max-width: 70px;
  }
  .infoblock__text {
    font-size: 14px;
  }
}