.quantity {
  border: 1px solid var(--brand-light-hover-stroke);
  border-radius: 8px;
  padding: 8px;
  width: 134px;
  height: 48px;
  display: flex;
  gap: 2px;
}
.quantity__button {
  flex: 0 0 30px;
  display: grid;
  place-content: center;
  border-radius: 6px;
  border: 1px solid var(--brand-light);
  background-color: var(--brand-light);
  color: var(--brand-color-60);
  position: relative;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.quantity__button > * {
  pointer-events: none;
}
.quantity__button.disabled {
  pointer-events: none;
  background-color: var(--white);
  fill: var(--black-40);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--black-100);
}
@media (any-hover: hover) {
  .quantity__button:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: var(--white);
  }
}