.menu-catalog {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100svh - var(--header-height));
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.menu-catalog.is-open .menu-catalog__inner {
  transform: translate(0px, 0px);
}
.menu-catalog__container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.menu-catalog__inner {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: start;
  padding-top: 16px;
  max-height: 100%;
  transform: translate(0, -50px);
  pointer-events: none;
  transition: transform 0.3s;
}
.menu-catalog__aside {
  flex-shrink: 0;
  max-width: 334px;
  width: 100%;
  border: 1px solid var(--grey-50);
  background-color: var(--white);
  border-radius: 24px;
  padding: 24px 20px 24px 24px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  pointer-events: all;
}
.menu-catalog__list {
  overflow: hidden auto;
  max-height: 100%;
}
.menu-catalog__link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 12px 20px;
  min-height: 46px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-100);
  transition: background 0.3s, color 0.3s;
}
.menu-catalog__link::after {
  content: "";
  flex-shrink: 0;
  margin-left: auto;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M0.707031 0.707092L5.70703 5.70709L0.707031 10.7071' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 12px;
  transition: background 0.3s;
}
.menu-catalog__link:focus-visible {
  outline: none;
  background-color: var(--brand-light);
  color: var(--brand-color);
}
.menu-catalog__link:focus-visible::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M0.707031 0.707092L5.70703 5.70709L0.707031 10.7071' stroke='%23F05124' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.menu-catalog__link.is-active {
  background-color: var(--brand-light);
  color: var(--brand-color);
}
.menu-catalog__link.is-active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M0.707031 0.707092L5.70703 5.70709L0.707031 10.7071' stroke='%23F05124' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.submenu {
  width: 100%;
  padding-left: 16px;
  pointer-events: none;
}
.submenu.is-open {
  pointer-events: all;
}
.submenu__body {
  display: none;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--grey-50);
  background-color: var(--white);
  border-radius: 24px;
  padding: 24px 20px 24px 24px;
  height: var(--submenu-height);
}
.submenu__body.is-open {
  display: flex;
}
.submenu__wrapper {
  overflow: hidden auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.submenu__head {
  padding-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.submenu__head::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, var(--black-10) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-position: center;
  background-size: 24px 1px;
}
.submenu__close {
  display: none;
}
.submenu__head-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
.submenu__title {
  max-width: 75%;
  font-weight: 600;
}
.submenu__title {
  line-height: 120%;
}
.submenu__viewall {
  max-width: fit-content;
  border: 2px solid var(--grey-30);
  border-radius: 6px;
  padding: 12px 14px;
  min-height: 46px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-40);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.submenu__viewall:focus-visible {
  outline: none;
  background-color: var(--brand-light);
  border-color: var(--brand-light);
  color: var(--brand-color);
}
.submenu__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.submenu__col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.submenu__subitem {
  display: flex;
  flex-direction: column;
}
.submenu__subtitle {
  max-width: fit-content;
  padding: 6px 10px;
  min-height: 37px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--brand-color-70);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}
.submenu__subtitle::after {
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%23F05124'/%3E%3Cpath d='M8 6L12 10L8 14' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.submenu__subtitle:focus-visible {
  outline: none;
  color: var(--brand-color);
}
.submenu__subtitle:focus-visible::after {
  opacity: 1;
}
.submenu__list {
  display: flex;
  flex-direction: column;
}
.submenu__link {
  max-width: fit-content;
  border-radius: 6px;
  padding: 6px 10px;
  min-height: 34px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-70);
  transition: background 0.3s, color 0.3s;
}
.submenu__link:focus-visible {
  outline: none;
  background-color: var(--brand-light);
  color: var(--brand-text-hover);
}
.submenu__brands {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
  position: relative;
}
.submenu__brands::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, var(--black-10) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-position: center;
  background-size: 24px 1px;
}
.submenu__brand {
  flex: 1 1 90px;
  max-width: calc(16.666% - 13.4px);
  width: 100%;
  aspect-ratio: 150/100;
  border: 2px solid var(--grey-30);
  border-radius: 12px;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s;
}
@media (max-width: 74.99875em) {
  .menu-catalog__inner {
    padding-top: 10px;
  }
  .menu-catalog__aside {
    max-width: 290px;
    border-radius: 16px;
    padding: 14px 10px 14px 14px;
  }
  .submenu {
    padding-left: 10px;
  }
  .submenu__body {
    border-radius: 16px;
    padding: 14px 10px 14px 14px;
    gap: 12px;
  }
  .submenu__columns {
    gap: 10px;
  }
  .submenu__col {
    gap: 16px;
  }
  .submenu__brands {
    gap: 10px;
  }
}
@media (max-width: 68.74875em) {
  .submenu__columns {
    display: flex;
    flex-wrap: wrap;
  }
  .submenu__columns > * {
    flex: 1 1 250px;
    width: calc(50% - 5px);
  }
  .submenu__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 10px;
  }
  .submenu__col > * {
    flex: 1 1 250px;
    width: calc(50% - 5px);
  }
}
@media (width <= 61.99875em) {
  .submenu__title {
    font-size: 24px;
  }
}
@media (max-width: 61.99875em) {
  .submenu__brand {
    max-width: calc(25% - 7px);
    border: 1px solid var(--grey-30);
    padding: 6px;
    border-radius: 6px;
  }
}
@media (max-width: 47.99875em) {
  .menu-catalog {
    pointer-events: all;
    min-height: 0;
    opacity: 1;
    visibility: visible;
    left: -100%;
    border-top: 1px solid var(--grey-50);
    background-color: var(--white);
    padding: 16px 0;
    transition: left 0.3s;
  }
  .menu-catalog.is-open {
    left: 0;
  }
  .menu-catalog.is-open .menu-catalog__inner {
    transform: none;
  }
  .menu-catalog__container {
    pointer-events: all;
  }
  .menu-catalog__inner {
    align-items: stretch;
    pointer-events: all;
    padding-top: 0;
    transform: none;
  }
  .menu-catalog__aside {
    padding: 0;
    border: none;
    min-height: 0;
    border-radius: 0;
    max-width: 100%;
  }
  .submenu {
    position: fixed;
    top: var(--header-height);
    right: -110%;
    height: calc(100svh - var(--header-height));
    background-color: var(--white);
    border-top: 1px solid var(--grey-50);
    padding: 16px;
    transition: right 0.3s;
  }
  .submenu.is-open {
    right: 0;
  }
  .submenu__body {
    height: 100%;
    border-radius: 0;
    padding: 0;
    border: none;
    min-height: 0;
  }
  .submenu__head {
    padding-bottom: 12px;
  }
  .submenu__close {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--black-40);
    min-height: 38px;
  }
  .submenu__head-body {
    gap: 12px;
  }
  .submenu__columns {
    gap: 16px;
  }
  .submenu__col {
    gap: 16px;
  }
  .submenu__subtitle {
    max-width: 100%;
    min-height: 45px;
    padding: 6px 0;
    color: var(--brand-color);
    border-bottom: 1px solid var(--brand-light-hover-stroke);
  }
  .submenu__subtitle::after {
    margin-left: auto;
    opacity: 1;
  }
  .submenu__link {
    max-width: 100%;
    min-height: 42px;
    padding: 6px 0;
    border-bottom: 1px solid var(--grey-30);
  }
}
@media (max-width: 29.99875em) {
  .submenu__title {
    flex: 1 1 auto;
    max-width: calc(100% - 49px);
  }
  .submenu__viewall {
    justify-content: center;
    min-width: 37px;
    padding: 5px;
  }
  .submenu__viewall-text {
    display: none;
  }
  .submenu__brand {
    flex: 1 1 auto;
    max-width: calc(50% - 5px);
  }
}
@media (width > 61.99875em) and (width <= 90.75em) {
  .submenu__title {
    font-size: clamp( 24px , 11.0616929699px  +  1.3042911178vw , 30px );
  }
}
@media (min-width: 61.99875em) {
  .menu-catalog__list {
    padding-right: 4px;
  }
  .menu-catalog__list::-webkit-scrollbar {
    width: 3px;
    display: block;
  }
  .menu-catalog__list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
    border: none;
  }
  .menu-catalog__list::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 3px;
    border: none;
    cursor: grab;
  }
  .menu-catalog__list::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
  .submenu__wrapper {
    padding-right: 4px;
  }
  .submenu__wrapper::-webkit-scrollbar {
    width: 3px;
    display: block;
  }
  .submenu__wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
    border: none;
  }
  .submenu__wrapper::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 3px;
    border: none;
    cursor: grab;
  }
  .submenu__wrapper::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}
@media (width > 90.75em) {
  .submenu__title {
    font-size: 30px;
  }
}
@media (any-hover: hover) {
  .menu-catalog__link:hover {
    background-color: var(--brand-light);
    color: var(--brand-color);
  }
  .menu-catalog__link:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M0.707031 0.707092L5.70703 5.70709L0.707031 10.7071' stroke='%23F05124' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
  .submenu__viewall:hover {
    background-color: var(--brand-light);
    border-color: var(--brand-light);
    color: var(--brand-color);
  }
  .submenu__subtitle:hover {
    color: var(--brand-color);
  }
  .submenu__subtitle:hover::after {
    opacity: 1;
  }
  .submenu__link:hover {
    background-color: var(--brand-light);
    color: var(--brand-text-hover);
  }
  .submenu__brand:hover {
    border-color: var(--brand-color);
  }
}