.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.menu__link {
  max-width: fit-content;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px 10px;
  min-height: 31px;
  color: var(--black-70);
  font-size: 14px;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: border 0.3s, color 0.3s, background 0.3s;
}
.menu__link-icon {
  display: none;
}
@media (max-width: 40.62375em) {
  .menu__list {
    align-items: stretch;
    flex-direction: column;
  }
  .menu__item {
    padding: 0 20px;
  }
  .menu__item:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey-50);
  }
  .menu__link {
    max-width: 100%;
    width: 100%;
    padding: 0;
    justify-content: stretch;
    color: var(--black-60);
  }
  .menu__link::after {
    content: "";
    margin-left: auto;
    width: 9px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M0.707031 0.707092L6.70703 6.70709L0.707031 12.7071' stroke='black' stroke-width='2' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 14px;
  }
  .menu__link-icon {
    display: block;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    border-color: var(--brand-light-hover-stroke);
    background-color: var(--brand-light-hover);
    color: var(--brand-text-hover);
  }
}