.order {
  margin-bottom: 150px;
}
.order__title {
  margin-bottom: 36px;
}
.order__body {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.order__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order__block {
  border: 1px solid var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.order__inputs > * {
  flex: 1 1 250px;
  width: calc(50% - 16px);
}
.order__rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-block {
  border: 1px solid var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-block__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-block__warning {
  border-radius: 12px;
  padding: 16px 12px;
  background-color: var(--grey-30);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-40);
  text-align: center;
}
.cart-block__products {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-50);
  overflow: hidden auto;
  max-height: 349px;
}
.cart-block__products > *:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-50);
}
.cart-block__rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cart-block__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-80);
}
.cart-block__value {
  text-align: right;
}
.cart-block__total {
  border-top: 1px solid var(--grey-50);
  padding-top: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--black-80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.cart-block__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-block__btn {
  max-width: 100%;
}
.cart-block__policy {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
}
.cart-block__link {
  font-weight: 700;
  color: var(--brand-color);
  transition: color 0.3s;
}
@media (max-width: 47.99875em) {
  .order {
    margin-bottom: 64px;
  }
  .order__body {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .cart-block {
    display: contents;
    box-shadow: none;
    background-color: none;
    border: none;
  }
  .cart-block__body {
    order: -1;
    margin-bottom: 26px;
    border: 1px solid var(--grey-50);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .cart-block__bottom {
    border: 1px solid var(--grey-50);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
}
@media (max-width: 29.99875em) {
  .order__inputs {
    flex-direction: column;
  }
  .order__inputs > * {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media (min-width: 61.99875em) {
  .cart-block__products {
    padding-right: 4px;
  }
  .cart-block__products::-webkit-scrollbar {
    width: 3px;
    display: block;
  }
  .cart-block__products::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
    border: none;
  }
  .cart-block__products::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 3px;
    border: none;
    cursor: grab;
  }
  .cart-block__products::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}
@media (any-hover: hover) {
  .cart-block__link:hover {
    color: var(--brand-color-hover);
    text-decoration: underline;
  }
}