.order {
  margin-bottom: 150px;
}
.order__title {
  margin-bottom: 36px;
}
.order__body {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.order__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order__block {
  border: 1px solid var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.order__inputs > * {
  flex: 1 1 250px;
  width: calc(50% - 16px);
}
.order__rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 47.99875em) {
  .order {
    margin-bottom: 64px;
  }
  .order__body {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
@media (max-width: 29.99875em) {
  .order__inputs {
    flex-direction: column;
  }
  .order__inputs > * {
    flex: 1 1 auto;
    width: 100%;
  }
}