body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

[data-fls-popup-open] body::after {
  opacity: 1;
}

[data-fls-popup] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
[data-fls-popup][data-fls-popup-active] {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

[data-fls-popup-active] [data-fls-popup-body] {
  visibility: visible;
  transform: scale(1);
}

[data-fls-popup-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-fls-popup-body] {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: var(--white);
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  padding: 32px 40px;
  position: relative;
}

[data-fls-popup-youtube-place] iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: var(--brand-color);
  transition: color 0.3s;
}
.popup__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.popup__head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.popup__head > *:not(:last-child) {
  margin-bottom: 15px;
}
.popup__icon {
  width: 60px;
  height: 60px;
  display: grid;
}
.popup__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup__title:not(:last-child) {
  margin-bottom: 8px;
}
.popup__text {
  line-height: 150%;
  color: var(--black-40);
}
.popup__text:not(:last-child) {
  margin-bottom: 16px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popup__btn {
  margin: 0 auto;
}
@media (max-width: 47.99875em) {
  [data-fls-popup-body] {
    padding: 32px 16px;
  }
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: var(--black-100);
  }
}