.popular {
  margin-bottom: 150px;
}
.popular__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 8px;
}
@media (max-width: 47.99875em) {
  .popular {
    margin-bottom: 64px;
  }
}
@media (max-width: 40.62375em) {
  .popular__container {
    display: flex;
    flex-direction: column;
  }
  .popular__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}