.proposals {
  margin-bottom: 150px;
}
.proposals__slider {
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
}
.proposals__slider:not(.swiper-initialized) .swiper-wrapper {
  gap: 8px;
}
.proposals__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+5) {
  display: none;
}
.proposals__wrapper {
  box-shadow: inset 0 4px 50px 0 rgba(0, 0, 0, 0.07);
}
@media (max-width: 61.99875em) {
  .proposals__slider.swiper {
    overflow: visible;
    box-shadow: none;
  }
  .proposals__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+4) {
    display: none;
  }
  .proposals__wrapper {
    box-shadow: none;
  }
}
@media (max-width: 47.99875em) {
  .proposals {
    margin-bottom: 64px;
  }
}
@media (max-width: 40.62375em) {
  .proposals__slider:not(.swiper-initialized) .swiper-wrapper {
    gap: 0;
  }
  .proposals__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+3) {
    display: none;
  }
}