.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options__input:focus-visible + .options__text {
  box-shadow: 0px 0px 0px 1px var(--brand-color);
}
.options__input:checked + .options__text:before {
  border-color: var(--brand-color);
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 130%;
  border-radius: 3px;
  gap: 12px;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  border-radius: 50%;
  border: 1px solid var(--brand-light-hover-stroke);
  background-color: var(--brand-light);
  transition: border 0.3s;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--brand-color);
  position: absolute;
  left: 6px;
  top: 6px;
}
@media (max-width: 29.99875em) {
  .options__text {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .options__item:hover .options__text:before {
    border-color: var(--brand-color);
  }
}