.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock,
.swiper-block-lock,
.swiper-pagination-lock,
.swiper-scrollbar-lock {
  display: none !important;
}

.swiper:not(.swiper-initialized) .swiper-button-prev,
.swiper:not(.swiper-initialized) .swiper-button-next,
.swiper:not(.swiper-initialized) .swiper-block-lock,
.swiper:not(.swiper-initialized) .swiper-pagination,
.swiper:not(.swiper-initialized) .swiper-scrollbar {
  display: none !important;
}