.tagsblock {
  margin-bottom: 150px;
}
.tagsblock__title {
  margin-bottom: 36px;
}
.tagsblock__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.tagsblock__tag {
  border: 1px solid var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  min-height: 64px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
@media (max-width: 61.99875em) {
  .tagsblock__tag {
    padding: 8px 16px;
    min-height: 44px;
  }
}
@media (max-width: 47.99875em) {
  .tagsblock {
    margin-bottom: 64px;
  }
  .tagsblock__items {
    gap: 4px;
  }
}
@media (max-width: 29.99875em) {
  .tagsblock__tag {
    font-size: 16px;
  }
}
@media (any-hover: hover) {
  .tagsblock__tag:hover {
    border-color: var(--brand-light);
    background-color: var(--brand-light);
    color: var(--brand-color);
  }
}