.textblock {
  margin-bottom: 150px;
}
.textblock__body {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.textblock__head {
  max-width: 582px;
  width: 100%;
  border-radius: 24px;
  padding: 36px;
  box-shadow: 0 4px 85px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.textblock__logo {
  max-width: 150px;
  width: 100%;
}
.textblock__logo img {
  width: 100%;
  object-fit: cover;
}
.textblock__title {
  font-weight: 600;
}
.textblock__title {
  line-height: 120%;
}
.textblock__content {
  max-width: 723px;
  width: 100%;
  max-height: 315px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.textblock__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, #fff 40%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 0.3s, visibility 0.3s;
}
.textblock__content.width-full {
  max-width: 100%;
  max-height: 450px;
}
.textblock__content.scroll-end::before {
  opacity: 0;
  visibility: hidden;
}
.textblock__inner {
  overflow: hidden auto;
  padding: 0 4px 15px 0;
  max-height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.textblock__inner::-webkit-scrollbar {
  width: 3px;
  display: block;
}
.textblock__inner::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  border: none;
}
.textblock__inner::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: 3px;
  border: none;
  cursor: grab;
}
.textblock__inner::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.textblock__inner > *:not(:last-child) {
  margin-bottom: 20px;
}
.textblock__inner h1,
.textblock__inner h2,
.textblock__inner h3,
.textblock__inner h4,
.textblock__inner h5,
.textblock__inner h6 {
  font-weight: 600;
  line-height: 120%;
}
.textblock__inner h1 span,
.textblock__inner h2 span,
.textblock__inner h3 span,
.textblock__inner h4 span,
.textblock__inner h5 span,
.textblock__inner h6 span {
  color: var(--brand-color);
}
.textblock__inner h1:not(:first-child),
.textblock__inner h2:not(:first-child),
.textblock__inner h3:not(:first-child),
.textblock__inner h4:not(:first-child),
.textblock__inner h5:not(:first-child),
.textblock__inner h6:not(:first-child) {
  margin-top: 36px;
}
.textblock__inner ul,
.textblock__inner ol {
  padding-left: 25px;
}
.textblock__inner ul li {
  list-style: disc;
}
.textblock__inner a:not(.textblock__tag) {
  color: var(--brand-color);
  text-decoration: underline;
}
.textblock__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--grey-50);
}
.textblock__tag {
  max-width: fit-content;
  border-radius: 6px;
  padding: 6px 10px;
  min-height: 31px;
  border: 1px solid var(--white);
  background-color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--black-40);
  transition: background 0.3s, border 0.3s, color 0.3s;
}
@media (max-width: 61.99875em) {
  .textblock__head {
    padding: 16px;
  }
}
@media (max-width: 47.99875em) {
  .textblock {
    margin-bottom: 64px;
  }
  .textblock__body {
    flex-direction: column;
    justify-content: stretch;
  }
  .textblock__head {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .textblock__logo {
    display: none;
  }
  .textblock__content.width-full {
    max-height: 320px;
  }
}
@media (width <= 29.99875em) {
  .textblock__title {
    font-size: 26px;
  }
  .textblock__inner h1 {
    font-size: 24px;
  }
  .textblock__inner h2 {
    font-size: 24px;
  }
  .textblock__inner h3 {
    font-size: 24px;
  }
  .textblock__inner h4 {
    font-size: 20px;
  }
  .textblock__inner h5 {
    font-size: 18px;
  }
  .textblock__inner h6 {
    font-size: 16px;
  }
}
@media (max-width: 29.99875em) {
  .textblock__content {
    max-height: 270px;
  }
  .textblock__content.width-full {
    max-height: 270px;
  }
}
@media (width > 29.99875em) and (width <= 90.75em) {
  .textblock__title {
    font-size: clamp( 26px , 19.0868500648px  +  1.4402995823vw , 40px );
  }
  .textblock__inner h1 {
    font-size: clamp( 24px , 4.2481430423px  +  4.1151416638vw , 64px );
  }
  .textblock__inner h2 {
    font-size: clamp( 24px , 12.1488858254px  +  2.4690849983vw , 48px );
  }
  .textblock__inner h3 {
    font-size: clamp( 24px , 18.0744429127px  +  1.2345424991vw , 36px );
  }
  .textblock__inner h4 {
    font-size: clamp( 20px , 18.0248143042px  +  0.4115141664vw , 24px );
  }
  .textblock__inner h5 {
    font-size: clamp( 18px , 17.0124071521px  +  0.2057570832vw , 20px );
  }
  .textblock__inner h6 {
    font-size: clamp( 16px , 15.0124071521px  +  0.2057570832vw , 18px );
  }
}
@media (width > 90.75em) {
  .textblock__title {
    font-size: 40px;
  }
  .textblock__inner h1 {
    font-size: 64px;
  }
  .textblock__inner h2 {
    font-size: 48px;
  }
  .textblock__inner h3 {
    font-size: 36px;
  }
  .textblock__inner h4 {
    font-size: 24px;
  }
  .textblock__inner h5 {
    font-size: 20px;
  }
  .textblock__inner h6 {
    font-size: 18px;
  }
}
@media (any-hover: hover) {
  .textblock__inner a:not(.textblock__tag):hover {
    color: var(--brand-color-hover);
    text-decoration: none;
  }
  .textblock__tag:hover {
    border-color: var(--brand-light-hover-stroke);
    background-color: var(--brand-light-hover);
    color: var(--brand-text-hover);
  }
}